<div class="card">
    <p-table #dt [value]="products" [resizableColumns]="true" [rows]="[10,25,50]" [paginator]="true" [globalFilterFields]="filter"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id" styleClass="p-datatable-striped"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">{{caption}}</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" class="shadow-none" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th *ngIf="hasCheckbox" style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngIf="hasCollapse" style="width: 3rem"></th>
                <th *ngFor="let column of columns"
                    [pSortableColumn]="canBeSorted(column)">
                    <i *ngIf="column.icon!=''" class="{{column.icon}}"></i>
                    <span>{{ column.label }}</span>
                    <p-sortIcon *ngIf="column.sortable" field="{{column.name}}"></p-sortIcon>
                </th>
                <th *ngIf="hasAction"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td *ngIf="hasCollapse">
                    <button type="button" pButton pRipple [pRowToggler]="product" 
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down':'pi pi-chevron-up' " ></button>
                </td>
                <td *ngIf="hasCheckbox">
                    <p-tableCheckbox  [value]="product"></p-tableCheckbox>
                </td>
                <td *ngFor="let column of columns">
                    <span *ngIf="column.type=='rate'">
                        <p-rating [ngModel]="product[column.name]" [readonly]="true" [cancel]="false"></p-rating>
                    </span>
                    <span *ngIf="column.type == 'undefined' || column.type=='' ">
                        {{product[column.name]}}
                    </span>
                    <span *ngIf="column.type == 'date' ">
                        {{product[column.name]}}
                    </span>
                    <span *ngIf="column.type == 'profile' ">
                        <!-- <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="p-shadow-4" />< -->
                    </span>
                    <span *ngIf="column.type == 'image' ">
                        <!-- <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="p-shadow-4" />< -->
                    </span>
                </td>
                <td *ngIf="tableButtons.length > 0"> 
                    <button *ngFor="let actionButton of tableButtons"
                            pButton pRipple icon="pi pi-{{actionButton.icon}}" 
                            class="p-button-rounded p-button-{{actionButton.color}} p-mr-2" 
                            [disabled]="actionButton.disabled"
                            [pTooltip]="sideButton.action"
                            (click)="onButtonClick(product,actionButton.action)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{products ? products.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
</div>